<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlickrAlbumDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <FlickrAlbumDownloader.Properties.Settings>
            <setting name="DownloaderPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="UseAuthetication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>96094953@N08</value>
            </setting>
            <setting name="FlickrSharedSecret" serializeAs="String">
                <value>&lt;&lt;add some value&gt;&gt;</value>
            </setting>
            <setting name="FlickrApiKey" serializeAs="String">
                <value>&lt;&lt;add some value&gt;&gt;</value>
            </setting>
        </FlickrAlbumDownloader.Properties.Settings>
    </applicationSettings>
</configuration>